$color-dark: #213547;
$color-light: #f0f0f0;
$color-form: #2b3238;
$color-danger: #a3290e;
$color-success: #6fbc80;
$color-form-border: #969696;
$color-header-scrolled: #cc7979;
$color-background-menu: #3b172d;
$color-black: #000;
$color-hamburger: #f1cdb3;
$color-button-active: #ff6b8b;
$color-default-value: #2bab7c;
$color-query: #7aa2f7;

$desktop-width: 1200px;
$laptop-width: 992px;
$tablet-width: 768px;
$mobile-width: 576px;
