$color-dark: #213547;
$color-light: #f0f0f0;

$color-form: #2b3238;

// $color-background: #fcf5d2;
// $color-background-menu: #a6ebf3;
// $color-danger: #a3290e;
// $color-success: #6fbc80;
// $color-border: #cabd7a;
// $color-primary: #998003;

$tablet-width: 768px;
$mobile-width: 576px;
