@import '../../styles/abstract/mixins';
@import '../../styles/abstract/constant';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  @include media-tablet {
    gap: 1rem;
  }
}
