@import '../../../../../styles/abstract/constant';

.change_api {
  padding: 1.2rem;
}

.current_url_text {
  padding-bottom: 1.2rem;
}

.hide_block,
.replace_url {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.8rem;
}

.error_url {
  color: $color-danger;
}

.success_message {
  color: $color-success;
}
