@import '@styles/abstract/constant';

.mirror_panel {
  &_header {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    background-color: lighten($color-form, 7);

    &__buttons {
      display: flex;
      gap: 2rem;
    }
  }
}
