@import '@styles/abstract/constant';

.mirror_panel {
  &_header {
    background-color: lighten($color-form, 7);
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;

    &__buttons {
      display: flex;
      gap: 2rem;
    }
  }
}
