@import '../abstract/constant';
@import '../abstract/mixins';

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 12px 24px;

  @include font($size: 2rem, $weight: 700);
  background-color: $color-light;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    border-color: $color-dark;
  }

  @include media-tablet {
    padding: 6px 12px;
    @include font($size: 1.4rem, $weight: 700);
  }
}
