@import '../styles/abstract/mixins';
@import '../styles/abstract/constant';

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  transition: all 0.3s;

  @include font($size: 1.8rem, $weight: 300);
  color: $color-light;

  padding: 12rem 2rem 0 2rem;

  @include media-tablet {
    @include font($size: 1.6rem, $weight: 300);
  }

  @include media-tablet {
    padding: 10rem 2rem 0 2rem;
  }
}
