@import '@styles/abstract/constant';

.error_page {
  display: flex;
  flex-direction: column;
  background-color: $color-danger;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  h1,
  h2 {
    width: 100%;
    overflow: hidden;
  }
}
